@import url(https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css);

body {  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPAdTZJH6f02ZWYr_qmbnQRoIlwOHd53RdFtjLyBSqBLN-N_yd);
/**url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgedatQ-KkfUxf8ruRqWjgwuwaRd1U3smWr0bG48OhEfDR58Ku);
url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfVSUUxE5pkT_bkoWSPfye3hQTtfaqwfZyNmLSa9YjNEtB9miRdw);**/
color: 	rgb(250,235,215);
font-family: lato;
}

h2 {
  text-transform: lowercase;
  text-align: center;
}
h1 {
  color:white;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  -webkit-animation: bounceIn 2.5s both 1s;
  margin-top: 100px;
}
h3 {
  color:rgb(255,228,225);
  font-weight: 250;
  font-size: 30px;
-webkit-animation: flash 1.5s both 2.5s;
animation-iteration-count: infinite;
}

h4{
  text-align: center;
  font-size: 25px;
}

#container{
  display: flex;
  flex-direction: row;
  margin: 2em;
  padding: 1em;
  justify-content: space-around;
}
#about-me{
  background-color: rgba(117, 190, 218, 0.2);
  border-style: inset;
  border-width: medium;
  width: 45%;

}
#projects{
  background-color: rgba(117, 190, 218, 0.2);
  float: right;
  position: relative;
  border-style: inset;
  border-width: medium;
  width: 45%;
}

#skills{
  background-color: rgba(117, 190, 218, 0.2);
  border-style: inset;
  border-width: medium;
  width: 100%;
  padding: 1em;
}

.tech{
  float: left;
   width: 50%;
}
.non-tech{
  float: right;
  width: 50%;
}
#summary{
  background-color: rgba(117, 190, 218, 0.2);
  border-style: inset;
  border-width: medium;
  width: 100%;
  padding: 1em;
}

#contact {
  width: 50%;
  padding: 3%;
  margin: auto;
  background: black;
  color: white;
}
.buttonSend {
    background-color: #F4F4F4;
    color: black;
    padding: 8px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  font-weight: bold;
}

.buttonSend:hover {
    background-color: #919191;
  color: #D7D7D7;
}
 .img{
  position: relative;
  -webkit-animation: bounce 3s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }

  .img2{
   position: relative;
   float: right;
   -webkit-animation: bounce 3s;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   }
